# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Test coverage
coverage

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Misc
README.md
*.md
!prisma/**/*.md
